{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>gra</th>
            </tr>
        </thead>
        <tbody>
            {% for genus in genuses %}
                <tr>
                    <td><a href='{{ genus.name }}' target='_blank'>{{ genus.nameHref }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
